CREATE PROC [spInsertDataMahasiswa]
	@NIM VARCHAR(10),
	@NAMA VARCHAR(50),
	@EMAIL VARCHAR(50),	
	@PROGRAM_STUDI_ID VARCHAR(10)
AS
BEGIN
	IF NOT EXISTS (
		SELECT 1
		FROM MAHASISWA
		WHERE NIM = @NIM
	)
	BEGIN
		INSERT INTO MAHASISWA
		VALUES (
			@NIM,
			@NAMA,
			@EMAIL,
			@PROGRAM_STUDI_ID
		)
	END
	ELSE
	BEGIN
	print('Data sudah ada')
	END
END