{% extends "base.html" %}

{% block content %}
<div class="container has-text-center pt-4">
    <div class="row">
        <div class="col-md-5 align-items-center">
            <label class="text-center">Hasil identifikasi intensi Mahasiswa Untar terhadap Technopreneurship</label>
            <!-- <img src="{{ chart_image }}" alt="Pie Chart"> -->
            <div id="piechart_3d" style="width: 100%;"></div>
             <!-- <canvas id="myChart" width="400" height="400"> -->

             </canvas>
        </div>
        <div class="col-md-7">
            <label>Pilih Pertanyaan:</label>
        <select class="form-select" id="questionSelect" onchange="">
            <option value="PERTANYAAN_1">Pertanyaan 1</option>
            <option value="PERTANYAAN_2">Pertanyaan 2</option>
            <option value="PERTANYAAN_3">Pertanyaan 3</option>
            <option value="PERTANYAAN_4">Pertanyaan 4</option>
            <option value="PERTANYAAN_5">Pertanyaan 5</option>
        </select>

        <div id="chart_div" class="mt-4" style="width: 100%;"></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script> 
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawPieChart);
    google.charts.setOnLoadCallback(drawLineChart);
    function drawPieChart() {
        var data_hasil = google.visualization.arrayToDataTable([
            {% for key, value in data_hasil.items() %}
                {% if value is string %}
                    ['{{ key }}', '{{ value }}'],
                {% else %}
                    ['{{ key }}', {{ value }}],
                {% endif %}
            {% endfor %}
        ]);
 
        var options = {
            is3D: true,
            //pieHole: 0.5
            pieStartAngle: 100
            /*slices: {  
                2: {offset: 0.2},
                3: {offset: 0.3}
            }*/
            /*slices: {
                1: { color: 'transparent' }
            }*/
        };
 
        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data_hasil, options);
    }

    const options = {
        title: 'Line Chart',
        curveType: 'function',
        hAxis: {
            title: 'Nilai'  // Label baru untuk sumbu x
            // format: '#.##'
            // minValue: 0,
            // maxValue: 1
        },
        vAxis: {
            title: 'Jumlah',   // Label baru untuk sumbu y
            format: '#,##'
            // minValue: 0
        },
        // legend: { position: 'bottom' }
    };
        
    function drawLineChart(data1) {
            
            

            // const dataArray = data1.forEach(item => [item.Nilai, item.Jumlah]);
    //         const dataArray = Object.entries(data1).map(([key, value]) => {
    //     return [key, value];
    // });
            
        // Prepare the data for Google Charts
        // const data2 = google.visualization.arrayToDataTable([
        //     ['Nilai', 'Jumlah'],
        //     ...dataArray
        // ]);

        // console.log(data1)
        // const dataArray = [];
        // Object.entries(data1).forEach(([Nilai, Jumlah]) => {
        //         if (typeof value === 'string') {
        //             dataArray.push([Nilai, Jumlah]);
        //         } else {
        //             dataArray.push([Nilai, Jumlah]);
        //         }
                
        //     });
        // var data2 = new google.visualization.arrayToDataTable(dataArray);
        var data2 = new google.visualization.DataTable();
        data2.addColumn('number', 'Nilai');
        data2.addColumn('number', 'Jumlah');
        data2.addRows(data1);
        // for(var Nilai, Jumlah in data1){
        //     data.addRow([Nilai, Jumlah]);
        // }

        

        // console.log(data2);
        

        const chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data2, options);
    }

        
        // function updateChart(NO_PERTANYAAN) {
        //     const user_url = "{{ url_for('dashboard_route.get_data', NO_PERTANYAAN=0) }}".replace('0', NO_PERTANYAAN);
        //     fetch(user_url)
        //         .then(response => response.json())
        //         .then(data_pertanyaan => drawLineChart(data_pertanyaan));
        // }

    $(document).ready(function() {
        $('#questionSelect').change(function() {
            $.ajax({
                url: '/get_data',
                type: 'GET',
                data: {
                    NO_PERTANYAAN: $('#questionSelect').val()
                },
                success: function(data_pertanyaan_json) {
                    // Proses data yang diterima di sini

                    // console.log(data_pertanyaan_json);
                    const chartData = []; // Baris header
                    data_pertanyaan_json.data_pertanyaan.forEach(item => {
                        chartData.push([parseFloat(item.Nilai), item.Jumlah]); // Tambahkan data ke array
                    });
                    drawLineChart(chartData); 
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        });
    });

    var data_pertanyaan = {{ data_pertanyaan | tojson }};
    window.onload = function() {
        // console.log(data_pertanyaan)
        
        const chartData = []; // Baris header
        data_pertanyaan.data.forEach(item => {
                        chartData.push([parseFloat(item.Nilai), item.Jumlah]); // Tambahkan data ke array
                    });
        drawLineChart(chartData);  // Menampilkan chart untuk pertanyaan 1 saat pertama kali
    };
</script> 
{% endblock %}