{% extends "base.html" %}

{% block content %}
<div class="container text-center pt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card p-4" style="background-color: #332c5e50;border: 2px;border-color: #332c5e;">
            <h3 class="text-center">Daftarkan Akun Anda</h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}. Silahkan <a href="{{ url_for('auth_route.login') }}">login</a> di sini.
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/signup">
                <div class="form-group my-2">
                    <input class="form-control form-control-lg" style="background-color: #332c5e55; border: 1px; border-color: #332c5e85;" type="email" name="email" placeholder="Email" autofocus="">
                </div>
    
                <div class="form-group my-2">
                    <input class="form-control form-control-lg" style="background-color: #332c5e55; border: 1px; border-color: #332c5e85;" type="text" name="name" placeholder="Name" autofocus="">
                </div>
    
                <div class="form-group my-2">
                    <input class="form-control form-control-lg" style="background-color: #332c5e55; border: 1px; border-color: #332c5e85;" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group my-2">
                    <label>Sudah punya akun?</label>
                    <a href="{{ url_for('auth_route.login') }}">Masuk disini</a>
                </div>
    
                <button class="btn btn-info btn-lg btn-block" style="background-color: #332c5e; color: white; border: 0px;">Daftar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
